.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Box{
    background: rgba(255,255,255,0.5);
    padding: 20px;
    border-radius: 10px;
}

.App-Button{
    background-color: #3F51B5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 5px;
    /*font-weight: bold;*/
}

.App-Button:hover{
    background-color: #515ea8;
}

.App-Button:active{
    background-color: #192149;
}